{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          {% if option.name contains 'Size' or option.name contains 'size' %} 
                            <modal-opener
                  class="product-popup-modal__opener no-js-hidden quick-add-hidden"
                  data-modal="#PopupModal-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  <button
                    id="ProductPopup-{{ block.id }}"
                    class="product-popup-modal__button link"
                    type="button"
                    aria-haspopup="dialog"
                  >
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.00195 15.0645C9.83398 15.0645 10.6191 14.9062 11.3574 14.5898C12.0957 14.2734 12.7402 13.8398 13.291 13.2891C13.8418 12.7383 14.2754 12.0938 14.5918 11.3555C14.9082 10.6172 15.0664 9.83203 15.0664 9C15.0664 8.16797 14.9082 7.38281 14.5918 6.64453C14.2754 5.90625 13.8418 5.26172 13.291 4.71094C12.7402 4.16016 12.0957 3.72656 11.3574 3.41016C10.6191 3.09375 9.83398 2.93555 9.00195 2.93555C8.16992 2.93555 7.38477 3.09375 6.64648 3.41016C5.9082 3.72656 5.26367 4.16016 4.71289 4.71094C4.16211 5.26172 3.72852 5.90625 3.41211 6.64453C3.0957 7.38281 2.9375 8.16797 2.9375 9C2.94922 9.83203 3.11328 10.6172 3.42969 11.3555C3.74609 12.082 4.17969 12.7207 4.73047 13.2715C5.28125 13.8223 5.91992 14.2559 6.64648 14.5723C7.38477 14.8887 8.16992 15.0527 9.00195 15.0645ZM9.00195 13.8516C8.33398 13.8516 7.70703 13.7227 7.12109 13.4648C6.52344 13.207 6.00781 12.8613 5.57422 12.4277C5.14062 11.9941 4.79492 11.4785 4.53711 10.8809C4.2793 10.2949 4.15039 9.66797 4.15039 9C4.15039 8.33203 4.2793 7.70508 4.53711 7.11914C4.79492 6.52148 5.14062 6.00586 5.57422 5.57227C6.00781 5.13867 6.52344 4.79297 7.12109 4.53516C7.70703 4.27734 8.33398 4.14844 9.00195 4.14844C9.66992 4.14844 10.2969 4.27734 10.8828 4.53516C11.4805 4.79297 11.9961 5.13867 12.4297 5.57227C12.8633 6.00586 13.209 6.52148 13.4668 7.11914C13.7246 7.70508 13.8535 8.33203 13.8535 9C13.8535 9.66797 13.7305 10.2949 13.4844 10.8809C13.2266 11.4668 12.8809 11.9795 12.4473 12.4189C12.0137 12.8584 11.5039 13.207 10.918 13.4648C10.332 13.7227 9.70508 13.8516 9.03711 13.8516C9.03711 13.8516 9.03418 13.8516 9.02832 13.8516C9.02246 13.8516 9.01367 13.8516 9.00195 13.8516ZM8.9668 7.01367C9.18945 7.01367 9.37988 6.9375 9.53809 6.78516C9.69629 6.63281 9.77539 6.44531 9.77539 6.22266C9.77539 6 9.69629 5.80957 9.53809 5.65137C9.37988 5.49316 9.18945 5.41406 8.9668 5.41406C8.74414 5.40234 8.55371 5.47559 8.39551 5.63379C8.2373 5.79199 8.1582 5.98242 8.1582 6.20508C8.1582 6.42773 8.2373 6.61816 8.39551 6.77637C8.55371 6.93457 8.74414 7.01367 8.9668 7.01367ZM7.96484 12.1816H10.3379C10.4668 12.1816 10.5781 12.1406 10.6719 12.0586C10.7656 11.9766 10.8125 11.8711 10.8125 11.7422C10.8242 11.625 10.7861 11.5195 10.6982 11.4258C10.6104 11.332 10.5078 11.2793 10.3906 11.2676C10.3789 11.2676 10.3672 11.2676 10.3555 11.2676C10.3438 11.2676 10.3379 11.2676 10.3379 11.2676H9.6875V8.52539C9.6875 8.34961 9.64355 8.20605 9.55566 8.09473C9.46777 7.9834 9.3418 7.92773 9.17773 7.92773H8.07031C7.94141 7.92773 7.83301 7.97168 7.74512 8.05957C7.65723 8.14746 7.60742 8.25586 7.5957 8.38477C7.5957 8.51367 7.63965 8.62207 7.72754 8.70996C7.81543 8.79785 7.91797 8.8418 8.03516 8.8418C8.04688 8.8418 8.05566 8.8418 8.06152 8.8418C8.06738 8.8418 8.07031 8.8418 8.07031 8.8418H8.66797V11.2852H7.96484C7.83594 11.2734 7.72461 11.3115 7.63086 11.3994C7.53711 11.4873 7.48438 11.5898 7.47266 11.707C7.47266 11.8359 7.51367 11.9473 7.5957 12.041C7.67773 12.1348 7.7832 12.1875 7.91211 12.1992C7.92383 12.1992 7.93262 12.1963 7.93848 12.1904C7.94434 12.1846 7.95312 12.1816 7.96484 12.1816Z" fill="black"/>
</svg>
<span>
                    {{ block.settings.text | default: block.settings.page.title | escape }}
  </span>
                  </button>
                </modal-opener>
                              {% endif %}
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          {% if option.name contains 'Size' or option.name contains 'size' %} 
                            <modal-opener
                  class="product-popup-modal__opener no-js-hidden quick-add-hidden"
                  data-modal="#PopupModal-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  <button
                    id="ProductPopup-{{ block.id }}"
                    class="product-popup-modal__button link"
                    type="button"
                    aria-haspopup="dialog"
                  >
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.00195 15.0645C9.83398 15.0645 10.6191 14.9062 11.3574 14.5898C12.0957 14.2734 12.7402 13.8398 13.291 13.2891C13.8418 12.7383 14.2754 12.0938 14.5918 11.3555C14.9082 10.6172 15.0664 9.83203 15.0664 9C15.0664 8.16797 14.9082 7.38281 14.5918 6.64453C14.2754 5.90625 13.8418 5.26172 13.291 4.71094C12.7402 4.16016 12.0957 3.72656 11.3574 3.41016C10.6191 3.09375 9.83398 2.93555 9.00195 2.93555C8.16992 2.93555 7.38477 3.09375 6.64648 3.41016C5.9082 3.72656 5.26367 4.16016 4.71289 4.71094C4.16211 5.26172 3.72852 5.90625 3.41211 6.64453C3.0957 7.38281 2.9375 8.16797 2.9375 9C2.94922 9.83203 3.11328 10.6172 3.42969 11.3555C3.74609 12.082 4.17969 12.7207 4.73047 13.2715C5.28125 13.8223 5.91992 14.2559 6.64648 14.5723C7.38477 14.8887 8.16992 15.0527 9.00195 15.0645ZM9.00195 13.8516C8.33398 13.8516 7.70703 13.7227 7.12109 13.4648C6.52344 13.207 6.00781 12.8613 5.57422 12.4277C5.14062 11.9941 4.79492 11.4785 4.53711 10.8809C4.2793 10.2949 4.15039 9.66797 4.15039 9C4.15039 8.33203 4.2793 7.70508 4.53711 7.11914C4.79492 6.52148 5.14062 6.00586 5.57422 5.57227C6.00781 5.13867 6.52344 4.79297 7.12109 4.53516C7.70703 4.27734 8.33398 4.14844 9.00195 4.14844C9.66992 4.14844 10.2969 4.27734 10.8828 4.53516C11.4805 4.79297 11.9961 5.13867 12.4297 5.57227C12.8633 6.00586 13.209 6.52148 13.4668 7.11914C13.7246 7.70508 13.8535 8.33203 13.8535 9C13.8535 9.66797 13.7305 10.2949 13.4844 10.8809C13.2266 11.4668 12.8809 11.9795 12.4473 12.4189C12.0137 12.8584 11.5039 13.207 10.918 13.4648C10.332 13.7227 9.70508 13.8516 9.03711 13.8516C9.03711 13.8516 9.03418 13.8516 9.02832 13.8516C9.02246 13.8516 9.01367 13.8516 9.00195 13.8516ZM8.9668 7.01367C9.18945 7.01367 9.37988 6.9375 9.53809 6.78516C9.69629 6.63281 9.77539 6.44531 9.77539 6.22266C9.77539 6 9.69629 5.80957 9.53809 5.65137C9.37988 5.49316 9.18945 5.41406 8.9668 5.41406C8.74414 5.40234 8.55371 5.47559 8.39551 5.63379C8.2373 5.79199 8.1582 5.98242 8.1582 6.20508C8.1582 6.42773 8.2373 6.61816 8.39551 6.77637C8.55371 6.93457 8.74414 7.01367 8.9668 7.01367ZM7.96484 12.1816H10.3379C10.4668 12.1816 10.5781 12.1406 10.6719 12.0586C10.7656 11.9766 10.8125 11.8711 10.8125 11.7422C10.8242 11.625 10.7861 11.5195 10.6982 11.4258C10.6104 11.332 10.5078 11.2793 10.3906 11.2676C10.3789 11.2676 10.3672 11.2676 10.3555 11.2676C10.3438 11.2676 10.3379 11.2676 10.3379 11.2676H9.6875V8.52539C9.6875 8.34961 9.64355 8.20605 9.55566 8.09473C9.46777 7.9834 9.3418 7.92773 9.17773 7.92773H8.07031C7.94141 7.92773 7.83301 7.97168 7.74512 8.05957C7.65723 8.14746 7.60742 8.25586 7.5957 8.38477C7.5957 8.51367 7.63965 8.62207 7.72754 8.70996C7.81543 8.79785 7.91797 8.8418 8.03516 8.8418C8.04688 8.8418 8.05566 8.8418 8.06152 8.8418C8.06738 8.8418 8.07031 8.8418 8.07031 8.8418H8.66797V11.2852H7.96484C7.83594 11.2734 7.72461 11.3115 7.63086 11.3994C7.53711 11.4873 7.48438 11.5898 7.47266 11.707C7.47266 11.8359 7.51367 11.9473 7.5957 12.041C7.67773 12.1348 7.7832 12.1875 7.91211 12.1992C7.92383 12.1992 7.93262 12.1963 7.93848 12.1904C7.94434 12.1846 7.95312 12.1816 7.96484 12.1816Z" fill="black"/>
</svg>
<span>
                    {{ block.settings.text | default: block.settings.page.title | escape }}
  </span>
                  </button>
                </modal-opener>
                              {% endif %}
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
